
#container

	div#chat
	form(method="post", id="chat-form", onsubmit="return (sendMessage());")
		input(type='text', name='message', name='message', id='message')
		input(type='submit', value='Submit')
	
